<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.adsdemo" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@style/Theme.AppCompat.FullScreen" >
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="Pad Interstitial"
            android:value="vz189bd99dc9074b1db6" />
        <meta-data
            android:name="Phone Interstitial"
            android:value="vz189bd99dc9074b1db6" />
        <meta-data
            android:name="Rewarded AppID"
            android:value="appa22eee5f62a149e5a1" />
        <meta-data
            android:name="Rewarded Signature"
            android:value="vz62c73c6916ff4502bd" />
        <meta-data
            android:name="Crosspromotion AppID"
            android:value="566fb7f4f789825b4d7d8094" />
        <meta-data
            android:name="Crosspromotion Signature"
            android:value="00c90874250ab969c2c9fc0cf39b4886ec63adfc" />

        <activity android:name="com.common.android.moregame.MarketMoreGame"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@style/Theme.AppCompat.FullScreen">

        </activity>
        <meta-data android:name="severUrl"
            android:value="https://www.crazycampmedia.com"
            />
    </application>

</manifest>
